confluent-kafka>=2.3,<3
azure-storage-file-datalake>=12.14,<13
dbt-core>=1.8,<2
dbt-snowflake>=1.8,<2
fastavro>=1.9,<2
duckdb>=1.1,<2
pyspark==4.0.0
delta-spark==4.0.0
python-dotenv>=1,<2
requests>=2.31,<3
snowflake-connector-python>=3.10,<5
pytest>=8,<9
